In [ ]:
# Q. (1)
# What is List? How will you reverse a list?
# ANS.
#     list is a one type of collection of iteams or elements. 
#     we will reverse a list whith the hepl of reverse function.

In [ ]:
# Q. (2)
# How will you remove last object from a list?
# ANS.
#     we will remove lest object from a list whith the help of pop function.
#     EG.:- list.pop()

In [ ]:
# Q. (3)
# Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]?
# ANS.
#     list1[-1] is syntax error.

In [ ]:
# Q. (4) 
# Differentiate between append () and extend () methods?
# ANS.
#     meajor difference between append and extend is append take a argument as a singal element in the end of list 
#     and extend will take it etrables as an argument and it will appent element one by one.

In [2]:
# Q. 5
# Write a Python function to get the largest number, smallest num and sum 
# of all from a list.
#ANS.

list1 = [11,45,25,36,95,84,71,14,12,1]
sum_num = 0
list1.sort()
print('smallest number',list1[0]  ,'largest number', list1[-1])

for i in list1 :
    sum_num += i
print('sum of all list is',sum_num)

smallest number 1 largest number 95
sum of all list is 394

In [2]:
# Q.6
# How will you compare two lists?
#ANS.
    # we will compare two lists with use == operator.b

In [71]:
# Q. 7
# Write a Python program to count the number of strings where the string 
# length is 2 or more and the first and last character are same from a given 
# list of strings.
#ANS.

list1 = ['abhi', 'rrr', 'bob','aa']
l2 = []
for i in list1 :
    if type(i) == str and len(i) >= 2 and i[0] == i[-1]:
        l2 += i,
print(len(l2),'string is there')

3 string is there

In [96]:
# Q. 8
# Write a Python program to remove duplicates from a list.
# ANS.

list_input = [1,2,3,5,5,8]
finel_list = []
for num in list_input :
    if num not in finel_list :
        finel_list.append(num)
print(finel_list)

[1, 2, 3, 5, 8]

In [31]:
# Q. 9 
#  Write a Python program to check a list is empty or not.
# ANS.

list1 = []
if len(list1) == 0 :
    print('list1 is empty list')
else:
    print('list1 is not empty')

list1 is empty list

In [43]:
# Q. 10
# Write a Python function that takes two lists and returns true if they have 
# at least one common member.
# ANS.

list1 = [1,2,3,4]
list2 = [5,6,7,1]

for num in list1 :
    pass
    if num in list2 :
        print('true')

true

In [7]:
# Q. 11
# Write a Python program to generate and print a list of first and last 5 
# elements where the values are square of numbers between 1 and 30.

# ANS.

list1 = [1,2,3,4,5]
first_l = list1[:5]
last_l = list1[-1:-6:-1]
new_l1 = []
new_l2 = []

for i in first_l :
    square = i*i
    if square <= 30 : 
        new_l1 += i,
print(new_l1)

for k in last_l :
    square2 = k*k
    if square2 <= 30 : 
        new_l2 += k,
print(new_l2)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
# Q. 12
#Write a Python function that takes a list and returns a new list with unique 
# elements of the first list.
# ANS.

list1 = [1,2,3,4,5,6]
list2 = [7,8,9,10]
list1.extend(list2)
print(list1)

In [95]:
# Q. 13
# Write a Python program to convert a list of characters into a string.
# ANS.

l1 = [1,2,3,4,5]
str_list = ''
for i in l1 :
    str_list += str(i)
print(str_list)

<class 'str'>
12345
<class 'str'>

In [61]:
# Q. 14
# Write a Python program to select an item randomly from a list.
# ANS.

number = int(input())
list1 = [1,2,3,4,5,6]
num = list1[number]
print(num)

2
3

In [67]:
# Q.15
# Write a Python program to find the second smallest number in a list.
#ANS.

list1 = [9,85,1,56,5,25,35,14,10,25,6]
list1.sort()
num = list1[1]
print(num)

5

In [77]:
# Q. 16
# Write a Python program to get unique values from a list
#ANS.

l1 = [1,22,33,444,5,666,7]
for i in l1 :
    if len(str(i)) == 1 :
        print(i)

1
5
7

In [80]:
# Q. 17
# Write a Python program to check whether a list contains a sub list
#ANS.

l1 = [1,2,3,[1,2,3],4,2,[20,21]]
for i in l1 :
    if type(i) == list :
        print(i,'is sub list')

[1, 2, 3] is sub list
[20, 21] is sub list

In [84]:
# Q. 18
# Write a Python program to split a list into different variables.
#ANS.

list1 = [1,2,3,4,5,6]

l1 = list1[:(len(list1)//2)]
l2 = list1[(len(list1)//2):]

print(l1 , l2)

[1, 2, 3] [4, 5, 6]

In [ ]:
# Q. 19
# What is tuple? Difference between list and tuple.
#ANS.
#     tuple is a one type of collection of iteams or elements. 
#     difference between list and tuple is, list is mutable but tupel is immutable.

In [2]:
# Q. 20
# Write a Python program to create a tuple with different data types.
#ANS.

list = [1,2,3,4]
set = {1,2,3}
a = 'python'
dict = {'a' : 10, 'b' : 20}

tuple = (list,set,a,dict)
print(tuple)

([1, 2, 3, 4], {1, 2, 3}, 'python', {'a': 10, 'b': 20})

In [12]:
# Q. 21
# Write a Python program to create a tuple with numbers.
#ANS.

tuple = 1,2,3,25,74,65,95
print(tuple)

(1, 2, 3, 25, 74, 65, 95)

In [3]:
# Q. 22
# Write a Python program to convert a tuple to a string.
#ANS.

tuple = (1,2,3,4,5,6,7)
str_val = ''
 
for a in tuple :
    str_val += str(a)
print(str_val)

1234567

In [8]:
# Q. 23
# Write a Python program to check whether an element exists within a tuple.
#ANS.

tuple = (1,2,3,4,5,6)
num = int(input())

count = tuple.count(num)
if count != 0 :
    print(num,'element is in tuple')
else :
    print(num,'element is not in tuple')

7
7 element is not in tuple

In [9]:
# Q. 24
# Write a Python program to find the length of a tuple.
#ANS.

tuple = (1,2,3,4,5,6)

lenth = len(tuple)
print(lenth)

6

In [11]:
# Q. 25
# Write a Python program to convert a list to a tuple.
#ANS.

tuple = (1,2,3,4,5,6)

list1 = list(tuple)
print(list1)

[1, 2, 3, 4, 5, 6]

In [12]:
# Q. 26
# Write a Python program to reverse a tuple.
#ANS.

tuple = (1,2,3,4,5,6)

tuple2 = tuple[-1::-1]
print(tuple2)

(6, 5, 4, 3, 2, 1)

In [3]:
# Q. 27
# Write a Python program to replace last value of tuples in a list.
#ANS.

t1 = (1,2,5,8,9,36,6)
l1 = []

for i in t1:
    l1.append(i)
print(l1)

[1, 2, 5, 8, 9, 36, 6]

In [9]:
# Q. 28
# Write a Python program to find the repeated items of a tuple.
#ANS.

tuple_1 = (1,2,3,4,5,6,1,2,4,1,5)
set_1 = set(tuple)

for a in set_1 :
    count = tuple_1.count(a)
    if count > 1 :
        print(a,'element is repeated',count,'times')
    else :
        print(a,'element is not repeated')

1 element is repeated 3 times
2 element is repeated 2 times
3 element is not repeated
4 element is repeated 2 times
5 element is repeated 2 times
6 element is not repeated

In [5]:
# Q. 29
# Write a Python program to remove an empty tuple(s) from a list of tuples.
#ANS.

list_1 = [('abhi',),(1,2,3),(12,45),(),(),(1,2,3)]
list_2 = []

for i in list_1 :
    if len(i) >= 1 :
        list_2.append(i)
print(list_2)

[('abhi',), (1, 2, 3), (12, 45), (1, 2, 3)]

In [4]:
# Q. 30
# Write a Python program to unzip a list of tuples into individual lists.
#ANS

l1 = [(1,2,3), ('abhi','himanshu'), (20,58,90,20)]
for tuples in l1 :
    print([tuples])

[(1, 2, 3)]
[('abhi', 'himanshu')]
[(20, 58, 90, 20)]

In [1]:
# Q. 31
# Write a Python program to convert a list of tuples into a dictionary.
# ANS.

list_1 = [(12,12),(10,12),(14,52),(30,21)]
d1 = dict(list_1)
print(d1)

{12: 12, 10: 12, 14: 52, 30: 21}

In [15]:
# Q. 32
# How will you create a dictionary using tuples in python?
# ANS.
# we used a dict() method and passed the dictionary comprehension as an argument to create a dictionary.

In [12]:
# Q. 33
# Write a Python script to sort (ascending and descending) a dictionary by value.
#ANS.

dict = {'a' : 10, 'b' : 9, 'c' : 8, 'd' : 7}
a = list ( dict.values())
a.sort()
for b in dict:
    b = dict.fromkeys(a,b)
print(b)

{7: 'd', 8: 'd', 9: 'd', 10: 'd'}

In [62]:
# Q. 34
# Write a Python script to concatenate following dictionaries to create a new one.
#ANS.

d1 = {'a':1,'b':2}
d2 = {'c':3,'d':4}
d3 = {}
d3.update(d1)
d3.update(d2)
print(d3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [96]:
# Q. 35
# Write a Python script to check if a given key already exists in a dictionary.
#ANS.

dict = {'a' : 10 ,'b' : 20, 'c' : 5, 'd' :8, 'e' : 3}
given_key = input()
key = dict.keys()
if given_key in  key:
    print(given_key , 'is already exists in a dictionary')
else :
    print(given_key, 'is not exists in a dictionary')

a
a is already exists in a dictionary

In [37]:
# Q.36
# How Do You Traverse Through A Dictionary Object In Python?
#ANS.
#     we can use dictionary keys()method or use a loops ,or other dictionary method like items(),values()

{'a': 10, 'b': 20, 'c': 30}

In [33]:
# Q. 37
# How Do You Check The Presence Of A Key In A Dictionary?
#ANS.

key_input = input()
dict_1 = {'a' : 10 ,'b' : 20, 'c' : 5, 'd' :8, 'e' : 3}

if key_input in dict_1 :
    print(key_input, 'key is presence')
else :
    print(key_input, 'key is not presence')

f
f key is not presence

In [55]:
# Q. 38
# Write a Python script to print a dictionary where the keys are numbers between 1 and 15.
#ANS.

dict1 = {}
dict1 = dict1.fromkeys((range(1,16)),10)
print(dict1)

{1: 10, 2: 10, 3: 10, 4: 10, 5: 10, 6: 10, 7: 10, 8: 10, 9: 10, 10: 10, 11: 10, 12: 10, 13: 10, 14: 10, 15: 10}

In [1]:
# Q. 39
# Write a Python program to check multiple keys exists in a dictionary
#ANS.

d1 = {'a':1,'b':2,'c':3,'d':4}
l1 = []

for i in d1:
    l1 += i,
if len(l1) > 1 :
    print('d1 exists multiple keys')
else :
    print('d1 exists onley one key')

d1 exists multiple keys

In [56]:
# Q. 40
# Write a Python script to merge two Python dictionaries
#ANS.

d1 = {'a':1,'b':2}
d2 = {'c':3,'d':4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [51]:
# Q. 41
# Write a Python program to map two lists into a dictionary
#ANS.

l1 = [1,2,3,6,4,5]
l2 = [1,2,3,4,5,6]
dict = {}

for i in l1 :
    a = {}
    for j in l2 :
        pass
    a.setdefault(i,j)
    dict.update(a)
print(dict)

{1: 6, 2: 6, 3: 6, 6: 6, 4: 6, 5: 6}

In [26]:
# Q. 42
# Write a Python program to combine two dictionary adding values for common keys.
#  d1 = {'a': 100, 'b': 200, 'c':300}
#  d2 = {'a': 300, 'b': 200,’d’:400}
# Sample output: Counter ({'a': 400, 'b': 400,’d’: 400, 'c': 300}).
#ANS.

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200,'d':400}
d3 = {}

for i in d1 :
    if i in d2:
        sum_val = d1[i] + d2[i]
        d3.setdefault(i,sum_val)
    else :
        d3.setdefault(i,d1[i])
for i in d2 :
    if i in d1:
        pass
    else :
        d3.setdefault(i,d2[i])        
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [36]:
# Q. 43
# Write a Python program to print all unique values in a dictionary.
#ANS.

d1 = {'a': 100, 'b': 200, 'c':300, 'd':100}
list_1 = []
unique_value = []

for i in d1:
    a += d1.get(i),
for b in a :
    if b not in unique_value :
        unique_value.append(b)
print(unique_value)

[100, 200, 300]

In [58]:
# Q. 44
# Why Do You Use the Zip () Method in Python?
#ANS.
    # To combine a value in one veriable , this value data type is tuple.

In [17]:
# Q. 45
# Write a Python program to create and display all combinations of letters,selecting each letter from a different key in a dictionary.
# o Sample data: {'1': ['a','b'], '2': ['c','d']}
# o Expected Output:
# o ac ad bc bd
#ANS.

dict = {'1': ['a','b'], '2': ['c','d']}
list1 = []
list2 = []
str1 = ''

list1 = dict.get('1')
list2 = dict.get('2')

for i in list1 :
    str1 = i
    str2 = ''
    for k in list2 :
        str2 = str1 + k
        print(str2)

ac
ad
bc
bd

In [48]:
# Q. 46
# Write a Python program to find the highest 3 values in a dictionary
#ANS.

dict1 = {'a':50, 'b':30, 'c':40, 'd':60, 'e':100, 'f':'abhi', 'g':101, 'h':[1,2,5]}
a = []
for i in dict1:
    if type(dict1.get(i))  == int:
        a += dict1.get(i),
a.sort()
print(a[-1:-4:-1])

[101, 100, 60]

In [72]:
# Q. 47
# Write a Python program to combine values in python list of dictionaries. 
# Sample data: [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 
# 300},
# o {'item': 'item1', 'amount': 750}]
# o Expected Output: Counter ({'item1': 1150, 'item2': 300})
#ANS.
 
big_list = [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}]
dict = {}
dict1 = {}

for i in big_list :
    dict1.update(i)
    list1 = []
    for k in dict1:
        list1 += dict1.get(k),
    l1 = list1[:(len(list1)//2)]
    l2 = list1[(len(list1)//2):]
    for i in l1 :
        a = {}
        for j in l2 :
            pass
        a.setdefault(i,j)
        dict.update(a)
print(dict)

{'item1': 400, 'item2': 300}

In [74]:
# Q. 48
#  Write a Python program to create a dictionary from a string.Note: Track the count of the letters from the string. Sample string:
# 'w3resource'
# o Expected output: {'3': 1,’s’: 1, 'r': 2, 'u': 1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}
#ANS.

str1 = 'w3resource'
dict1 = {}

for i in str1:
    dict1.setdefault(i,1)
print(dict1)

{'w': 1, '3': 1, 'r': 1, 'e': 1, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [11]:
# Q. 49
# Write a Python function to calculate the factorial of a number (a nonnegative integer)
#ANS.

def factorial(x) :
    if x <= 1 :
        return (1)
    else:
        return (x * factorial(x-1))
factorial(5)

120

In [79]:
# Q. 50
# Write a Python function to check whether a number is in a given range
#ANS.

input_num = int(input())
def num_check(x):
    if x in range(1,101):
        return 'number is in the range'
    else :
        return 'number is not in the range'
num_check(input_num)

50

'number is in the range'

In [86]:
# Q. 51
# Write a Python function to check whether a number is perfect or not.
#ANS.

def num (x):
    if type(x) == int:
        return 'number is perfect'
    else :
        return 'number is not perfect'
num(50)

'number is perfect'

In [103]:
# Q. 52
# Write a Python function that checks whether a passed string is palindrome or not
#ANS.

def str_check (x):
    if x[::] == x [-1::-1]:
        return 'string is palindrome string'
    else :
        return 'string is not palindrome string'

str_check('nayan')

'string is palindrome string'

In [104]:
# Q. 53
# How do you perform pattern matching in Python? Explain
#ANS.
#     we can match pattern useing with  conditional statements.

In [105]:
# Q. 54
# What is lambda function in python? What we call a function which is incomplete version of a function?
#ANS.
#     lambda function is multtple perameters but single expression return.

In [106]:
# Q. 55
# How Many Basic Types Of Functions Are Available In Python?
#ANS.
#     There are three basic types of functions 
#     (1) built_in function
#     (2) user difined
#     (3) anonymous

In [107]:
# Q. 56
# How can you pick a random item from a list or tuple?
#ANS.
#     import rendom function and use  rendom.choice()  metode.

In [108]:
# Q. 57
# How can you pick a random item from a range?
#ANS.
#     import rendom function and use rendrange() method.

In [109]:
# Q. 58
# How can you get a random number in python?
#ANS.
#     we can a rendom number use with rendint() method.

In [110]:
# Q. 59
# How will you set the starting value in generating random numbers?
#ANS.
#     import rendom function and use seed() method.

In [111]:
# Q. 60
# How will you randomizes the items of a list in place?
#ANS.
#      we could randomizes the items use of shuffle() method.

In [1]:
# Q. 61
# Write a Python program to read a random line from a file.
#ANS.
import random
lines = open('abhi.txt').read().splitlines()
print (random.choice(lines))

cow eats grassthere is a cow. /n cow eats grass

In [2]:
# Q. 62
# Write a Python program to convert degree to radian
#ANS.
pi=22/7
degree = float(input())
radian = degree*(pi/180)
print(radian)

10
0.1746031746031746

In [3]:
# Q. 63
# Write a Python program to calculate the area of a trapezoid
#ANS.
height = float(input())
base_1 = float(input())
base_2 = float(input())
area = ((base_1 + base_2) / 2) * height
print(area)

6
10
5
45.0

In [4]:
# Q. 64
# Write a Python program to calculate the area of a parallelogram
#ANS.
base = float(input())
height = float(input())
area = base * height
print(area)

10
20
200.0

In [5]:
# Q. 65
# Write a Python program to calculate surface volume and area of a cylinder
#ANS.
pi=22/7
height = float(input())
radian = float(input())
volume = pi * radian * radian * height
sur_area = ((2*pi*radian) * height) + ((pi*radian**2)*2)
print(volume,'volume')
print(sur_area,'area')

20
10
6285.714285714285 volume
1885.7142857142858 area

In [6]:
# Q. 66
# Write a Python program to returns sum of all divisors of a number
#ANS.
def sum_div(number):
    divisors = [1]
    for i in range(2, number):
        if (number % i)==0:
            divisors.append(i)
    return sum(divisors)
sum_div(int(input()))

8

7

In [7]:
# Q. 67
# Write a Python program to find the maximum and minimum numbers from the specified decimal numbers.
#ANS.
from decimal import *
data = list(map(Decimal, '2.45 2.69 2.45 3.45 2.00 0.04 7.25'.split()))
print("maximum: ", max(data))
print("minimum: ", min(data))

maximum:  7.25
minimum:  0.04